<section>
  <h1>Movie List</h1>
  <p *ngIf="loading">Loading movies...</p>
  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div class="movie-controls" *ngIf="!loading">
    <label>
      Sort by
      <select [value]="sort" (change)="onSortChange($any($event.target).value)">
        <option value="title">Title</option>
        <option value="rating">Rating</option>
      </select>
    </label>
    <label>
      Order
      <select [value]="order" (change)="onOrderChange($any($event.target).value)">
        <option value="asc">Asc</option>
        <option value="desc">Desc</option>
      </select>
    </label>
    <label>
      Per page
      <select [(ngModel)]="size" (ngModelChange)="onPageSizeChange($event)">
        <option *ngFor="let s of pageSizes" [ngValue]="s">{{ s }}</option>
      </select>
    </label>
    <button type="button" (click)="prevPage()" [disabled]="page <= 1">Prev</button>
    <button type="button" (click)="nextPage()">Next</button>
    <span>Page {{ page }}</span>
  </div>

  <table class="movie-table" *ngIf="movies.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Year</th>
        <th>Director</th>
        <th>Genres</th>
        <th>Stars</th>
        <th>Rating</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of movies">
        <td>{{ m.id }}</td>
        <td><a [routerLink]="['/movies', m.id]">{{ m.title }}</a></td>
        <td>{{ m.year }}</td>
        <td>{{ m.director }}</td>
        <td>
          <ng-container *ngIf="m.genres?.length; else noGenres">
            <ng-container *ngFor="let g of m.genres; let last = last">
              <a [routerLink]="['/movies']" [queryParams]="{ genre: g.name }">{{ g.name }}</a><span *ngIf="!last">, </span>
            </ng-container>
          </ng-container>
          <ng-template #noGenres>-</ng-template>
        </td>
        <td>
          <ng-container *ngIf="m.stars?.length; else noStars">
            <ng-container *ngFor="let s of m.stars; let last = last">
              <a [routerLink]="['/stars', s.id]">{{ s.name }}</a><span *ngIf="!last">, </span>
            </ng-container>
          </ng-container>
          <ng-template #noStars>-</ng-template>
        </td>
        <td>{{ m.rating ?? '-' }}</td>
        <td><button (click)="addToCart(m.id)">Add</button></td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!loading && !errorMessage && movies.length === 0">No movies found.</p>
</section>
