<div class="app-shell">
  <header class="container-fluid px-3 px-lg-4 pt-3 pt-lg-4">
    <nav class="navbar navbar-expand-lg app-navbar">
      <div class="container-fluid px-2 px-md-3">
        <a class="navbar-brand app-brand" routerLink="/main">EnjoyMovie</a>
        <button
          class="navbar-toggler app-navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#appNav"
          aria-controls="appNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="appNav">
          <div class="navbar-nav ms-auto gap-lg-2">
            <a class="nav-link app-nav-link" routerLink="/main">Home</a>
            <a class="nav-link app-nav-link" routerLink="/movies">Movies</a>
            <a class="nav-link app-nav-link" routerLink="/cart">Cart</a>
            <a
              class="nav-link app-nav-link"
              routerLink="/login"
              *ngIf="!isLoggedIn"
              >Login</a
            >
            <button
              class="nav-link app-nav-link app-nav-button"
              type="button"
              *ngIf="isLoggedIn"
              (click)="logout()"
            >
              Logout
            </button>
            <a class="nav-link app-nav-link" routerLink="/cart" *ngIf="!isLoginRoute">Checkout</a>
            <a class="nav-link app-nav-link" routerLink="/login" *ngIf="!isLoggedIn">Login</a>
            <button class="nav-link app-nav-link app-nav-button" type="button" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <main class="app-main container-fluid px-3 px-lg-4 pb-4 pb-lg-5">
    <router-outlet></router-outlet>
  </main>
</div>
